
header ul{
  display:flex;
}

main{
  align-items: stretch;
  display:flex;
  flex-wrap: wrap;
}

article{
  flex-basis: 40%;
  flex-grow:1;
}

aside{
  flex-basis:25%;
  height: 30em;
  padding: 10px
}


h1{
  flex-basis:100%;
}
nav {
  margin-bottom: -9em;
}